
//*** DEFAULT THEMES ***
$material-dark: ('background': #272727)
$material-light: ('background': #f5f6fa)
  
//*** CORE ***
$border-radius-root: 2px !default
$body-font-family: 'Roboto', sans-serif !default

//*** LISTS ***
$list-item-action-icon-margin: 5px !default
