
//*** DEFAULT THEMES ***
$material-dark: ('background': #272727, 'app-bar':#2e2e2e, 'toolbar':#1e1e1e)
$material-light: ('background': #f6f8fa)
  
//*** CORE ***
$border-radius-root: 2px !default
$body-font-family: 'Roboto', sans-serif !default

//*** LISTS ***
$list-item-action-icon-margin: 5px !default

//inject: ["theme"], // Tis can be used in the component to get access to the theme props. check if this has a knock on performance, else take it out
